header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  15px;
    background-color: #009E3F;
    

}

#logo img {
    max-height: 250px;
    width: 150px;
    height: auto;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {

    text-decoration: none;
    color: #FFFF;
    font-weight: bold;
    padding: 5px
}
@media screen and (max-width: 768px) {
    header {
           flex-direction:column;
    align-items: flex-start;
    }

}
nav {
    order: 3;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}
nav.show {
    display: flex;
}
nav li {
    margin-right:0;
    margin-bottom: 10px;
    align-items: flex-start;
}

#toggle-menu {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
}


 




#Textoyborde {

    text-align: justify;
    margin: 40px auto;
    padding: 20px 10px 20px;
    border: 2px solid black;
    max-width: 600px;
    background-color: #009E3F;
    color: #FFFF;
    border-radius: 20px;
}

#Textoyborde p {
    margin: 0;
    width: 100%;
    text-align: center;
    
    padding: 10px 20px 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
   

}
.container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-content {
    width: 100%;
    max-width: 450px;
    background-color: #2c2f35;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;

}

.form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #FFFF;
    position: relative;

}
.form-content h1 ::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #04bd7d;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-filed {
    background-color: #009E3F;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 05s;
    overflow: hidden
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #1e1e1e;
}

input::placeholder {
    color: rgb(255, 255, 255)

}



.input-filed i {
    margin-left: 15px;
    color: #FFFFFF;

}

form p {
    color: #FFFFFF;
    text-align: left;
}
.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 40%;
    font-size: 16px;
    background-color: #1e1e1e;
    color: #FFFFFFFF;
    height: 40px;
    border: solid white 4px;
    border-color: white;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 01s;



}
.input-group {
    height:  250px;

}

.btn-field button.disable {
    background-color: #FFFFFFFF;
    color: #1e1e1e;
    justify-content: center;
}




    

footer {


    background: #009E3F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #009E3F;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

}

#che p {

    margin: 0;
    color: white;
    font: 24 bold arial;
    border: white;
    text-decoration: underline; 
    padding: 0px 0px 20px;

}

#Rute {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    font: 18px bold arial;
    font-size: 26px;
}

#Grupo9,
#uade {
    flex: 1;
    text-align: right;
    color: white;
    font: bolder;
    font-size: 26px;

}

#Integrantes {
    flex: 2;
    text-align: center;
    justify-content: center;
    color: black;
    align-items: center;
    font-size: 16px;
    padding-left: 195px;

    font: bold;
}




   

